/*
body {
    margin: 49px 0px 0px 0px;
}

html, body, div, p {
    font-family: FuturaDemiBold, Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
*/
/* header */
/*
header {
    z-index: 100;
    width: 100%;
    border-style: none none solid none;
    border-width: 5px;
    border-color: #00C800;
    height: 44px;
    background-color: white;
    line-height: 1.4em;
    position: fixed;
    top: 0px;
}

header #appname {
    left: 250px;
}
header .headertext {
    font-family: Verdana, sans-serif;
    position: absolute;
    top: 13px;
    font-size: 19px;
    color: black;
}

/* buttons */
/*
.btn {
    display: block;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #265a88;
    color: #ffffff;
}
.btn:hover, .btn:focus {
    /*background-color: #c4e3f3;*/
    /*
    color: #ffffff;
}

/* bar */

.bar {
    background-color: #111111;
    min-height: 30px;
    color: #EEEEEE;
}
.bar, .bar a {
    text-decoration: none;
    color: #EEEEEE;
}
.bar a:hover,
.bar a:focus {
    background-color: #DDDDDD;
    color: #111111;
}

.bar-north {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
}

/* nav */

table.nav,
table.nav tr,
table.nav th,
table.nav td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
table.nav {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    border-image-width: 0px;
    border-spacing: 0;
}

table.nav .nav-icon {
    width: 20px;
}

table.nav td {
    vertical-align: top;
}
table.nav td.nav-west {
    text-align: left;
}
table.nav td.nav-main {
    text-align: center;
}
table.nav td.nav-east {
    text-align: right;
}

table.nav td.nav-medium {
    width: 104px;
}
table.nav td.nav-full {
    padding: 0px;
}
table.nav span.nav,
table.nav a.nav {
    display: inline-block;
    padding: 10px 17px;
    text-align: center;
    line-height: 20px;
}

/* sid slider */

div.sid-slider {
    background-color: #BBBBBB;
    position: relative;
    height: 20px;
    line-height: 20px;
    margin: 10px 25px;
}

div.sid-slider .sid-slider-load,
div.sid-slider .sid-slider-play,
div.sid-slider .sid-slider-hand,
div.sid-slider .sid-slider-text
{
    display: inline-block;
    position: absolute;
    top: 0px;
    height: 20px;
    left: 0px;
}

div.sid-slider .sid-slider-load {
    width: 0%;
    background-color: #777777;
}

div.sid-slider .sid-slider-play {
    background-color: #444444;
    width: 0%;
}

div.sid-slider .sid-slider-hand {
    top: -5px;
    margin-left: -25px;
    padding: 15px 15px;
    left: 0%;
    z-index: 20;
    background-color: #BBBBBB;
    color: #111111;
    /* from nav nav-icon */
    width: 20px;
    text-align: center;
    line-height: 20px;
}
div.sid-slider .sid-slider-hand:hover,
div.sid-slider .sid-slider-hand:focus {
    background-color: #DDDDDD;
    color: #111111;
    cursor: pointer;
}

div.sid-slider .sid-slider-text {
    left: 0px;
    right: 0px;
    color: #111111;
    background-color: transparent;
    z-index: 10;
    text-align: center;
    text-decoration: none;
}

/* sid calendar*/

table.calendar,
table.calendar tr,
table.calendar th,
table.calendar td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

table.calendar {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.calendar th {
    padding: 10px 0px;
}
.calendar td, .calendar th {
    text-align: center;
}
.calendar td {
    padding: 0px !important;
}
.calendar .pad {
    display: block;
    padding: 4px;
}
.calendar .bold {
    font-weight: bold;
}
.calendar a {
    text-decoration: none;
    color: #232323;
}
.calendar a:hover {
    background-color: #265a88 !important;
    color: #ffffff;
}
.calendar a.cal-selected {
    background-color: #265a88;
    color: #ffffff;
}
.calendar a.cal-current {
    background-color: #c4e3f3;
}
.calendar a.cal-alternate {
    background-color: #eeeeee;/*#d6e9c6;*/
}
.calendar .text-muted {
    color: #777777;
}
/* sid radar */

.sid-radar {
    position: relative;
    width: 200px;/*471px; */
    height: 500px;/*927px;*/ /* 887 + 40 */
}
.sid-radar .sid-radar-layer {
    position: absolute;
    top: 0;
    left: 0;
}
.sid-radar .sid-radar-legend {
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 45px;
    color: #fff;
    content: attr(data-sid-slider);
    padding: 5px 10px;
    position: absolute;
    z-index: 20;
    text-align: center;
    line-height: 20px;
}

.sid-radar .sid-radar-legend-date {
    width: 100px;
    left: 5px;
}
.sid-radar .sid-radar-legend-time {
    width: 100px;
    right: 70px;
}
.sid-radar .sid-radar-legend-mark {
    padding: 5px 10px;
    top: 40%;
    left: auto;
    right: 5px;
    width: 40px;
}
.sid-radar .sid-radar-legend-mark .sid-radar-legend-mark-item {
    position: relative;
    display: block;
    width: 20px;
    margin-left: 25px;
    font-size: 10px;
}
.sid-radar .sid-radar-legend-mark .sid-radar-legend-mark-item:before {
    background-color: transparent;
    top: 0px;
    position: absolute;
    width: 25px;
}
.sid-radar .sid-radar-legend-mark .sid-radar-legend-mark-item:before {
    content: attr(data-radar-legend-dbz);
    left: -30px;
    padding-right: 5px;
    text-align: right;
}
.sid-radar .sid-radar-legend-mark .sid-radar-legend-mark-border:before {
    border-top: 1px solid #ffffff;
}

.sid-radar .sid-radar-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

table.legend {
    border-collapse: collapse;
/*    table-layout: fixed;*/
}
table.legend tr th {
    text-align: left;
    white-space: nowrap;
}
table.legend tr td {
    text-align: right;
}
table.legend tr td,
table.legend tr th {
    border-right: 1px solid #333;
    border-top: 1px solid #333;
    padding: 4px;
}
table.legend tr:first-child td,
table.legend tr:first-child th {
    border-top: 0;
}

/* generic */
/*
.view {
    margin: 0 auto;
}
*/
table.full {
    width: 100%;
}

a.disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: #AAAAAA;
}
.disabled a {
    pointer-events: none;
    cursor: not-allowed;
    color: #AAAAAA;
}
/*
p {
    margin: 10px 0px;
}
/* specific */

div.pop-wrap {
    position: absolute;
    padding: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 30;
    height: auto !important;
    min-height: 100%;
    background-color: #ffffff;
}
div.pop-wrap div.pop-pad {
    padding: 10px;
    padding-top: 49px; /* 10 + 49 */
}

div.pop-bar {
    position: fixed;
    top: 0px;
    right: 0px;
    display: inline-block;
    font-size: 0;
}
div.pop-bar a.pop-bar-icon {
    display: inline-block;
    height: 24px;
    padding: 10px 15px;
    text-align: center;
    line-height: 24px;
    width: 20px;
    text-decoration: none;
    color: #333333;
    background-color: #ffffff;
    font-size: 16px;
}
div.pop-bar a.pop-bar-icon:hover,
div.pop-bar a.pop-bar-icon:focus {
    color: #ffffff;
    background-color: #333333;
}

#radar-view {
    position: absolute;
    top: 49px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: auto;
    width: auto;
}

.show-mobile {
    display: block;
}

.hide-mobile {
    display: none;
}

@media (min-width: 992px) {
    body, html {
        font-size: 16px;
    }
    .calendar .pad {
        display: block;
        padding: 8px;
    }
    .view {
        display: block;
        width: 970px;
        margin: 0px auto 0px auto;
    }

    #radar-view {
        position: relative;
        margin-left: 491px;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 471px;
        height: 927px; /* 887 + 40 */
    }

    #side-view {
        float: left;
        width: 471px;
    }

    div.pop-wrap {
        position: static;
        display: block;
        padding: 0px;
        left: auto;
        right: auto;
        top: auto;
        z-index: auto;
        background-color: #ffffff;
    }
    div.pop-wrap div.pop-pad {
        padding: 10px;
        padding-top: 0px;
    }
    .show-mobile {
        display: none !important;
    }

    .hide-mobile {
        display: block !important;
    }

}
